 /* json siblings (elements next to each other)*/
*
h3 + p
{
    color:blue;
}

/* for anchor tags you use (a)  */
a{
    color: rgb(51, 211, 158);
}
/* styling a link.
a:name of the link */

a:visited{
    color:rgb(199, 45, 45);
}
#choose
{
    font-family:  monospace;
    color: green;
}
body{
    background-color: lightsalmon;
}
p{
    text-align: justify;
    font-size: larger;
    color: #000;
    font-weight: bold;
}
/* send button */
.send-btn{
    background-color: #fff;
    color:#000;
    padding:6 0 0 6px;
    border-radius: 10px ;
    border:3px solid black;
    box-shadow: none !important;
    width:10%;
    height:9%;
    
}
.send-btn:hover
{
    background-color: chartreuse;
    padding:6 0 0 6px;
    border-radius: 10px ;
    border:3px solid black;
    box-shadow: none !important;
    width:10%;
    height: 9%;

}